.design-systems .group-133 {
  background-image: url(https://cdn.animaapp.com/projects/65cbae09ebe3d944fc1d2ca6/releases/65cbae90345a819824cfdb06/img/mask-group-2.png);
  background-size: 100% 100%;
  height: 654px;
  left: 0;
  position: absolute;
  top: 0;
  width: 516px;
}

.design-systems .frame-36 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 40px;
  position: relative;
  top: 314px;
}

.design-systems .heading {
  height: 100px;
  margin-right: -4px;
  position: relative;
  width: 440px;
}

.design-systems .text-wrapper-153 {
  color: var(--secondarygrey-6);
  font-family: var(--web-body-b4-font-family);
  font-size: var(--web-body-b4-font-size);
  font-style: var(--web-body-b4-font-style);
  font-weight: var(--web-body-b4-font-weight);
  left: 0;
  letter-spacing: var(--web-body-b4-letter-spacing);
  line-height: var(--web-body-b4-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.design-systems .text-wrapper-154 {
  color: var(--primarywhite);
  font-family: var(--web-title-h5-font-family);
  font-size: var(--web-title-h5-font-size);
  font-style: var(--web-title-h5-font-style);
  font-weight: var(--web-title-h5-font-weight);
  left: 0;
  letter-spacing: var(--web-title-h5-letter-spacing);
  line-height: var(--web-title-h5-line-height);
  position: absolute;
  top: 28px;
  width: 436px;
}

.design-systems .bullet-points {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  position: relative;
}

.design-systems .group-134 {
  height: 32px;
  margin-right: -2px;
  position: relative;
  width: 438px;
}

.design-systems .text-wrapper-155 {
  color: var(--secondarygrey-6);
  font-family: var(--web-body-b3-font-family);
  font-size: var(--web-body-b3-font-size);
  font-style: var(--web-body-b3-font-style);
  font-weight: var(--web-body-b3-font-weight);
  left: 26px;
  letter-spacing: var(--web-body-b3-letter-spacing);
  line-height: var(--web-body-b3-line-height);
  position: absolute;
  top: 0;
  width: 410px;
}

.design-systems .ellipse-13 {
  background-color: var(--secondarygrey-6);
  border-radius: 5px;
  height: 10px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 10px;
}

.design-systems .heading-wrapper {
  background-image: url(https://cdn.animaapp.com/projects/65cbae09ebe3d944fc1d2ca6/releases/65cbae90345a819824cfdb06/img/mask-group-3.png);
  background-size: 100% 100%;
  height: 516px;
  left: 540px;
  position: absolute;
  top: 0;
  width: 516px;
}

.design-systems .heading-2 {
  height: 100px;
  left: 40px;
  position: relative;
  top: 376px;
  width: 440px;
}

.design-systems .group-135 {
  background-image: url(https://cdn.animaapp.com/projects/65cbae09ebe3d944fc1d2ca6/releases/65cbae90345a819824cfdb06/img/mask-group-5.png);
  background-size: 100% 100%;
  height: 516px;
  left: 1080px;
  position: absolute;
  top: 0;
  width: 516px;
}

.design-systems .group-136 {
  height: 516px;
  left: 1620px;
  position: absolute;
  top: 0;
  width: 516px;
}