.button {
  all: unset;
  align-items: center;
  border: 1px solid;
  border-radius: 100px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 32px;
  position: relative;
}

.button .text-wrapper {
  font-family: var(--button-default-font-family);
  font-size: var(--button-default-font-size);
  font-style: var(--button-default-font-style);
  font-weight: var(--button-default-font-weight);
  letter-spacing: var(--button-default-letter-spacing);
  line-height: var(--button-default-line-height);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button.white {
}

.button.black {
}

.button:hover .text-wrapper {
  font-family: var(--button-hover-font-family);
  font-size: var(--button-hover-font-size);
  font-style: var(--button-hover-font-style);
  font-weight: var(--button-hover-font-weight);
  letter-spacing: var(--button-hover-letter-spacing);
  line-height: var(--button-hover-line-height);
}

.button:hover.white {
  background-color: #ffffff;
}

.button:hover.black {
  background-color: var(--primaryblack);
}
