.desktop-footer {
  background-color: var(--primaryblack);
  height: 640px;
  overflow: hidden;
  width: 1920px;
}

.desktop-footer .group-42 {
  height: 612px;
  position: relative;
  top: 2px;
  width: 1924px;
}

.desktop-footer .overlap {
  height: 200px;
  left: 138px;
  position: absolute;
  top: 204px;
  width: 340px;
}

.desktop-footer .element-th-floor-corporate-wrapper {
  height: 67px;
  left: 24px;
  position: absolute;
  top: 133px;
  width: 316px;
}

.desktop-footer .element-floor-corporate-4 {
  color: var(--primarywhite);
  font-family: var(--web-body-b3-font-family);
  font-size: var(--web-body-b3-font-size);
  font-style: var(--web-body-b3-font-style);
  font-weight: var(--web-body-b3-font-weight);
  left: 0;
  letter-spacing: var(--web-body-b3-letter-spacing);
  line-height: var(--web-body-b3-line-height);
  position: absolute;
  top: 0;
  width: 314px;
}

.desktop-footer .LOGO-3 {
  height: 140px;
  left: 0;
  position: absolute;
  top: 0;
  width: 338px;
}

.desktop-footer .text-wrapper-65 {
  color: var(--secondarygrey-5);
  font-family: var(--web-body-b4-font-family);
  font-size: var(--web-body-b4-font-size);
  font-style: var(--web-body-b4-font-style);
  font-weight: var(--web-body-b4-font-weight);
  left: 162px;
  letter-spacing: var(--web-body-b4-letter-spacing);
  line-height: var(--web-body-b4-line-height);
  position: absolute;
  top: 584px;
  width: 270px;
}

.desktop-footer .text-wrapper-66 {
  color: var(--primarywhite);
  font-family: "Haffer SQ XH-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 162px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-decoration: underline;
  top: 464px;
  white-space: nowrap;
  width: 326px;
}

.desktop-footer .group-43 {
  height: 96px;
  left: 1354px;
  position: absolute;
  top: 244px;
  width: 380px;
}

.desktop-footer .text-wrapper-67 {
  color: var(--secondarygrey-5);
  font-family: var(--web-body-b4-font-family);
  font-size: var(--web-body-b4-font-size);
  font-style: var(--web-body-b4-font-style);
  font-weight: var(--web-body-b4-font-weight);
  left: 0;
  letter-spacing: var(--web-body-b4-letter-spacing);
  line-height: var(--web-body-b4-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 210px;
}

.desktop-footer .text-wrapper-68 {
  color: var(--primarywhite);
  font-family: var(--web-body-b3-font-family);
  font-size: var(--web-body-b3-font-size);
  font-style: var(--web-body-b3-font-style);
  font-weight: var(--web-body-b3-font-weight);
  left: 0;
  letter-spacing: var(--web-body-b3-letter-spacing);
  line-height: var(--web-body-b3-line-height);
  position: absolute;
  top: 32px;
  white-space: nowrap;
  width: 374px;
}

.desktop-footer .text-wrapper-69 {
  color: var(--primarywhite);
  font-family: var(--web-body-b3-font-family);
  font-size: var(--web-body-b3-font-size);
  font-style: var(--web-body-b3-font-style);
  font-weight: var(--web-body-b3-font-weight);
  left: 0;
  letter-spacing: var(--web-body-b3-letter-spacing);
  line-height: var(--web-body-b3-line-height);
  position: absolute;
  top: 72px;
  white-space: nowrap;
  width: 354px;
}

.desktop-footer .group-44 {
  height: 96px;
  left: 1354px;
  position: absolute;
  top: 387px;
  width: 360px;
}

.desktop-footer .text-wrapper-70 {
  color: var(--primarywhite);
  font-family: var(--web-body-b3-font-family);
  font-size: var(--web-body-b3-font-size);
  font-style: var(--web-body-b3-font-style);
  font-weight: var(--web-body-b3-font-weight);
  left: 0;
  letter-spacing: var(--web-body-b3-letter-spacing);
  line-height: var(--web-body-b3-line-height);
  position: absolute;
  top: 32px;
  white-space: nowrap;
  width: 354px;
}

.desktop-footer .line-11 {
  height: 2px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 1920px;
}

.desktop-footer .line-12 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 566px;
  width: 1920px;
}

.desktop-footer .line-13 {
  height: 241px;
  left: 1242px;
  object-fit: cover;
  position: absolute;
  top: 242px;
  width: 1px;
}

.desktop-footer .overlap-group-3 {
  height: 206px;
  left: 678px;
  position: absolute;
  top: 244px;
  width: 457px;
}

.desktop-footer .group-45 {
  height: 206px;
  left: 0;
  position: absolute;
  top: 0;
  width: 355px;
}

.desktop-footer .text-wrapper-71 {
  color: var(--primarywhite);
  font-family: var(--web-body-b3-font-family);
  font-size: var(--web-body-b3-font-size);
  font-style: var(--web-body-b3-font-style);
  font-weight: var(--web-body-b3-font-weight);
  left: 0;
  letter-spacing: var(--web-body-b3-letter-spacing);
  line-height: var(--web-body-b3-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop-footer .text-wrapper-72 {
  color: var(--primarywhite);
  font-family: var(--web-body-b3-font-family);
  font-size: var(--web-body-b3-font-size);
  font-style: var(--web-body-b3-font-style);
  font-weight: var(--web-body-b3-font-weight);
  left: 0;
  letter-spacing: var(--web-body-b3-letter-spacing);
  line-height: var(--web-body-b3-line-height);
  position: absolute;
  top: 58px;
  white-space: nowrap;
}

.desktop-footer .text-wrapper-73 {
  color: var(--primarywhite);
  font-family: var(--web-body-b3-font-family);
  font-size: var(--web-body-b3-font-size);
  font-style: var(--web-body-b3-font-style);
  font-weight: var(--web-body-b3-font-weight);
  left: 0;
  letter-spacing: var(--web-body-b3-letter-spacing);
  line-height: var(--web-body-b3-line-height);
  position: absolute;
  top: 116px;
  white-space: nowrap;
}

.desktop-footer .text-wrapper-74 {
  color: var(--primarywhite);
  font-family: var(--web-body-b3-font-family);
  font-size: var(--web-body-b3-font-size);
  font-style: var(--web-body-b3-font-style);
  font-weight: var(--web-body-b3-font-weight);
  left: 0;
  letter-spacing: var(--web-body-b3-letter-spacing);
  line-height: var(--web-body-b3-line-height);
  position: absolute;
  top: 174px;
  white-space: nowrap;
}

.desktop-footer .text-wrapper-75 {
  color: var(--primarywhite);
  font-family: var(--web-body-b3-font-family);
  font-size: var(--web-body-b3-font-size);
  font-style: var(--web-body-b3-font-style);
  font-weight: var(--web-body-b3-font-weight);
  left: 270px;
  letter-spacing: var(--web-body-b3-letter-spacing);
  line-height: var(--web-body-b3-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop-footer .group-46 {
  height: 90px;
  left: 270px;
  position: absolute;
  top: 61px;
  width: 187px;
}

.desktop-footer .group-47 {
  height: 48px;
  left: 162px;
  position: absolute;
  top: 98px;
  width: 1429px;
}

.desktop-footer .ellipse-7 {
  background-color: var(--primarywhite);
  border-radius: 7px;
  height: 14px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 14px;
}

.desktop-footer .text-wrapper-76 {
  color: var(--primarywhite);
  font-family: var(--web-title-h4-font-family);
  font-size: var(--web-title-h4-font-size);
  font-style: var(--web-title-h4-font-style);
  font-weight: var(--web-title-h4-font-weight);
  left: 28px;
  letter-spacing: var(--web-title-h4-letter-spacing);
  line-height: var(--web-title-h4-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop-footer .text-wrapper-77 {
  color: var(--primarywhite);
  font-family: var(--web-title-h4-font-family);
  font-size: var(--web-title-h4-font-size);
  font-style: var(--web-title-h4-font-style);
  font-weight: var(--web-title-h4-font-weight);
  left: 335px;
  letter-spacing: var(--web-title-h4-letter-spacing);
  line-height: var(--web-title-h4-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop-footer .text-wrapper-78 {
  color: var(--primarywhite);
  font-family: var(--web-title-h4-font-family);
  font-size: var(--web-title-h4-font-size);
  font-style: var(--web-title-h4-font-style);
  font-weight: var(--web-title-h4-font-weight);
  left: 677px;
  letter-spacing: var(--web-title-h4-letter-spacing);
  line-height: var(--web-title-h4-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop-footer .text-wrapper-79 {
  color: var(--primarywhite);
  font-family: var(--web-title-h4-font-family);
  font-size: var(--web-title-h4-font-size);
  font-style: var(--web-title-h4-font-style);
  font-weight: var(--web-title-h4-font-weight);
  left: 992px;
  letter-spacing: var(--web-title-h4-letter-spacing);
  line-height: var(--web-title-h4-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop-footer .text-wrapper-80 {
  color: var(--primarywhite);
  font-family: var(--web-title-h4-font-family);
  font-size: var(--web-title-h4-font-size);
  font-style: var(--web-title-h4-font-style);
  font-weight: var(--web-title-h4-font-weight);
  left: 1310px;
  letter-spacing: var(--web-title-h4-letter-spacing);
  line-height: var(--web-title-h4-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop-footer .ellipse-8 {
  background-color: var(--primarywhite);
  border-radius: 7px;
  height: 14px;
  left: 307px;
  position: absolute;
  top: 17px;
  width: 14px;
}

.desktop-footer .ellipse-9 {
  background-color: var(--primarywhite);
  border-radius: 7px;
  height: 14px;
  left: 649px;
  position: absolute;
  top: 17px;
  width: 14px;
}

.desktop-footer .ellipse-10 {
  background-color: var(--primarywhite);
  border-radius: 7px;
  height: 14px;
  left: 964px;
  position: absolute;
  top: 17px;
  width: 14px;
}

.desktop-footer .ellipse-11 {
  background-color: var(--primarywhite);
  border-radius: 7px;
  height: 14px;
  left: 1282px;
  position: absolute;
  top: 17px;
  width: 14px;
}
