.index {
    background-color: #040404;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .overlap-wrapper {
    background-color: var(--primaryblack);
    height: 8638px;
    overflow: hidden;
    width: 1920px;
  }
  
  .index .overlap-2 {
    height: 8638px;
    left: -1053px;
    position: relative;
    width: 4026px;
  }
  
  .index .overlap-3 {
    height: 8638px;
    left: 0;
    position: absolute;
    top: 0;
    width: 4026px;
  }
  
  .index .desktop-footer-instance {
    left: 1053px !important;
    position: absolute !important;
    top: 7978px !important;
  }
  
  .index .group-7 {
    height: 1960px;
    left: 1789px;
    position: absolute;
    top: 3275px;
    width: 1184px;
  }
  
  .index .rectangle {
    height: 3890px;
    left: 1053px;
    position: absolute;
    top: 1278px;
    width: 1920px;
  }
  
  .index .design-system-banner {
    height: 750px;
    left: 1053px;
    position: absolute;
    top: 528px;
    width: 1920px;
  }
  
  .index .a-design-system-for {
    color: var(--primaryblack);
    font-family: var(--web-title-h2-font-family);
    font-size: var(--web-title-h2-font-size);
    font-style: var(--web-title-h2-font-style);
    font-weight: var(--web-title-h2-font-weight);
    left: 1350px;
    letter-spacing: var(--web-title-h2-letter-spacing);
    line-height: var(--web-title-h2-line-height);
    position: absolute;
    text-align: center;
    top: 1377px;
    width: 1326px;
  }
  
  .index .group-8 {
    height: 1644px;
    left: 1350px;
    position: absolute;
    top: 3160px;
    width: 1326px;
  }
  
  .index .frame {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .index .text-wrapper-21 {
    color: var(--primaryblack);
    font-family: var(--web-title-h1-font-family);
    font-size: var(--web-title-h1-font-size);
    font-style: var(--web-title-h1-font-style);
    font-weight: var(--web-title-h1-font-weight);
    letter-spacing: var(--web-title-h1-letter-spacing);
    line-height: var(--web-title-h1-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 1326px;
  }
  
  .index .p {
    color: var(--secondarygrey-3);
    font-family: var(--web-body-b2-font-family);
    font-size: var(--web-body-b2-font-size);
    font-style: var(--web-body-b2-font-style);
    font-weight: var(--web-body-b2-font-weight);
    letter-spacing: var(--web-body-b2-letter-spacing);
    line-height: var(--web-body-b2-line-height);
    position: relative;
    text-align: center;
    width: 1056px;
  }
  
  .index .frame-2 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 88px;
    left: 0;
    position: absolute;
    top: 296px;
  }
  
  .index .group-9 {
    height: 292px;
    position: relative;
    width: 1326px;
  }
  
  .index .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .index .group-10 {
    height: 76px;
    margin-right: -4px;
    position: relative;
    width: 520px;
  }
  
  .index .text-wrapper-22 {
    color: var(--primaryblack);
    font-family: var(--web-title-h4-font-family);
    font-size: var(--web-title-h4-font-size);
    font-style: var(--web-title-h4-font-style);
    font-weight: var(--web-title-h4-font-weight);
    left: 0;
    letter-spacing: var(--web-title-h4-letter-spacing);
    line-height: var(--web-title-h4-line-height);
    position: absolute;
    top: 28px;
    width: 516px;
  }
  
  .index .text-wrapper-23 {
    color: var(--secondarygrey-3);
    font-family: var(--web-body-b4-font-family);
    font-size: var(--web-body-b4-font-size);
    font-style: var(--web-body-b4-font-style);
    font-weight: var(--web-body-b4-font-weight);
    left: 0;
    letter-spacing: var(--web-body-b4-letter-spacing);
    line-height: var(--web-body-b4-line-height);
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .index .text-wrapper-24 {
    color: var(--secondarygrey-3);
    font-family: var(--web-body-b3-font-family);
    font-size: var(--web-body-b3-font-size);
    font-style: var(--web-body-b3-font-style);
    font-weight: var(--web-body-b3-font-weight);
    letter-spacing: var(--web-body-b3-letter-spacing);
    line-height: var(--web-body-b3-line-height);
    position: relative;
    width: 516px;
  }
  
  .index .frame-4 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    left: 810px;
    position: absolute;
    top: 0;
  }
  
  .index .group-11 {
    height: 1px;
    position: relative;
    width: 1326px;
  }
  
  .index .line-3 {
    height: 1px;
    left: 743px;
    object-fit: cover;
    position: absolute;
    top: -1px;
    width: 583px;
  }
  
  .index .line-4 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: -1px;
    width: 584px;
  }
  
  .index .group-12 {
    height: 308px;
    position: relative;
    width: 1326px;
  }
  
  .index .group-13 {
    height: 80px;
    margin-right: -4px;
    position: relative;
    width: 520px;
  }
  
  .index .text-wrapper-25 {
    color: var(--primaryblack);
    font-family: var(--web-title-h4-font-family);
    font-size: var(--web-title-h4-font-size);
    font-style: var(--web-title-h4-font-style);
    font-weight: var(--web-title-h4-font-weight);
    left: 0;
    letter-spacing: var(--web-title-h4-letter-spacing);
    line-height: var(--web-title-h4-line-height);
    position: absolute;
    top: 32px;
    width: 516px;
  }
  
  .index .group-14 {
    height: 124px;
    margin-right: -4px;
    position: relative;
    width: 520px;
  }
  
  .index .group-15 {
    height: 1px;
    margin-bottom: -1px;
    position: relative;
    width: 1326px;
  }
  
  .index .carousel {
    align-items: flex-end;
    display: inline-flex;
    gap: 24px;
    left: 0;
    position: absolute;
    top: 5604px;
  }
  
  .index .case-study {
    height: 600px;
    position: relative;
    width: 1326px;
  }
  
  .index .overlap-4 {
    height: 600px;
    position: relative;
  }
  
  .index .image {
    background-color: #d9d9d9;
    height: 600px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1326px;
  }
  
  .index .overlap-group-2 {
    height: 600px;
    left: 896px;
    position: relative;
    width: 430px;
  }
  
  .index .image-2 {
    height: 600px;
    left: 157px;
    position: absolute;
    top: 0;
    width: 273px;
  }
  
  .index .rectangle-2 {
    background: linear-gradient(180deg, rgb(51, 58, 66) 0%, rgba(33, 41, 50, 0.51) 60%, rgba(80, 86, 93, 0) 100%);
    height: 536px;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 430px;
  }
  
  .index .group-wrapper {
    height: 84px;
    left: 314px;
    position: absolute;
    top: 32px;
    width: 84px;
  }
  
  .index .group-16 {
    height: 38px;
    left: 0;
    position: absolute;
    top: 23px;
    width: 84px;
  }
  
  .index .img-wrapper {
    height: 84px;
    left: 1210px;
    position: absolute;
    top: 32px;
    width: 84px;
  }
  
  .index .line-5 {
    height: 2px;
    left: 1053px;
    position: absolute;
    top: 518px;
    width: 223px;
  }
  
  .index .frame-5 {
    align-items: center;
    display: inline-flex;
    gap: 24px;
    left: 50px;
    position: absolute;
    top: 539px;
  }
  
  .index .text-wrapper-26 {
    color: var(--primarywhite);
    font-family: "Haffer SQ XH-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 42px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .index .line-6 {
    height: 1px;
    margin-bottom: -49658.21px;
    margin-right: -59098px;
    object-fit: cover;
    position: relative;
    width: 30px;
  }
  
  .index .text-wrapper-27 {
    color: var(--primarywhite);
    font-family: "Haffer SQ XH-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
    opacity: 0.8;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .index .next-arrow {
    height: 48px;
    left: 1228px;
    position: absolute;
    top: 536px;
    width: 48px;
  }
  
  .index .element-top-right-wrapper {
    background-color: #d9d9d9;
    background-image: url(https://cdn.animaapp.com/projects/65cbae09ebe3d944fc1d2ca6/releases/65cbae90345a819824cfdb06/img/mask-group.png);
    background-size: 100% 100%;
    height: 600px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1326px;
  }
  
  .index .element-top-right {
    height: 84px;
    left: 1210px;
    object-fit: cover;
    position: absolute;
    top: 32px;
    width: 84px;
  }
  
  .index .line-7 {
    height: 2px;
    left: 50px;
    position: absolute;
    top: 518px;
    width: 1226px;
  }
  
  .index .line-8 {
    height: 30px;
    object-fit: cover;
    position: relative;
    width: 1px;
  }
  
  .index .overlap-5 {
    height: 600px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1326px;
  }
  
  .index .mask-group {
    height: 600px;
    left: 0;
    position: absolute;
    top: 0;
    width: 273px;
  }
  
  .index .overlap-group-3 {
    background: linear-gradient(180deg, rgb(51, 58, 66) 0%, rgba(33, 41, 50, 0.51) 60%, rgba(80, 86, 93, 0) 100%);
    height: 536px;
    left: 896px;
    position: absolute;
    top: 0;
    width: 430px;
  }
  
  .index .group-17 {
    height: 84px;
    left: 314px;
    position: relative;
    top: 32px;
    width: 84px;
  }
  
  .index .group-18 {
    height: 71px;
    left: 59302px;
    position: absolute;
    top: 50238px;
    width: 84px;
  }
  
  .index .line-9 {
    height: 2px;
    left: 50px;
    position: absolute;
    top: 518px;
    width: 223px;
  }
  
  .index .frame-6 {
    align-items: center;
    display: inline-flex;
    gap: 24px;
    left: 50px;
    position: absolute;
    top: 542px;
  }
  
  .index .text-wrapper-28 {
    color: var(--primarywhite);
    font-family: var(--web-body-b2-regular-font-family);
    font-size: var(--web-body-b2-regular-font-size);
    font-style: var(--web-body-b2-regular-font-style);
    font-weight: var(--web-body-b2-regular-font-weight);
    letter-spacing: var(--web-body-b2-regular-letter-spacing);
    line-height: var(--web-body-b2-regular-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .index .design-system-mobile {
    color: var(--primarywhite);
    font-family: var(--web-body-b4-font-family);
    font-size: var(--web-body-b4-font-size);
    font-style: var(--web-body-b4-font-style);
    font-weight: var(--web-body-b4-font-weight);
    letter-spacing: var(--web-body-b4-letter-spacing);
    line-height: var(--web-body-b4-line-height);
    opacity: 0.8;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .index .next-arrow-2 {
    height: 48px;
    left: 60530px;
    position: absolute;
    top: 50768px;
    width: 48px;
  }
  
  .index .group-19 {
    height: 288px;
    left: 1350px;
    position: absolute;
    top: 4944px;
    width: 1326px;
  }
  
  .index .overlap-6 {
    background-color: var(--primarywhite);
    height: 164px;
    left: 0;
    position: absolute;
    top: 124px;
    width: 1326px;
  }
  
  .index .line-10 {
    height: 56px;
    left: 446px;
    object-fit: cover;
    position: absolute;
    top: 60px;
    width: 1px;
  }
  
  .index .line-11 {
    height: 56px;
    left: 878px;
    object-fit: cover;
    position: absolute;
    top: 60px;
    width: 1px;
  }
  
  .index .group-20 {
    height: 72px;
    left: 59px;
    position: absolute;
    top: 52px;
    width: 1210px;
  }
  
  .index .group-21 {
    height: 72px;
    left: 0;
    position: absolute;
    top: 0;
    width: 350px;
  }
  
  .index .text-wrapper-29 {
    color: var(--secondarygrey-3);
    font-family: var(--web-body-b2-font-family);
    font-size: var(--web-body-b2-font-size);
    font-style: var(--web-body-b2-font-style);
    font-weight: var(--web-body-b2-font-weight);
    left: 46px;
    letter-spacing: var(--web-body-b2-letter-spacing);
    line-height: var(--web-body-b2-line-height);
    position: absolute;
    top: 0;
    width: 300px;
  }
  
  .index .text-wrapper-30 {
    color: var(--secondarygrey-3);
    font-family: var(--web-body-b4-font-family);
    font-size: var(--web-body-b4-font-size);
    font-style: var(--web-body-b4-font-style);
    font-weight: var(--web-body-b4-font-weight);
    left: 0;
    letter-spacing: var(--web-body-b4-letter-spacing);
    line-height: var(--web-body-b4-line-height);
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .index .group-22 {
    height: 72px;
    left: 860px;
    position: absolute;
    top: 0;
    width: 354px;
  }
  
  .index .text-wrapper-31 {
    color: var(--secondarygrey-3);
    font-family: var(--web-body-b2-font-family);
    font-size: var(--web-body-b2-font-size);
    font-style: var(--web-body-b2-font-style);
    font-weight: var(--web-body-b2-font-weight);
    left: 50px;
    letter-spacing: var(--web-body-b2-letter-spacing);
    line-height: var(--web-body-b2-line-height);
    position: absolute;
    top: 0;
    width: 300px;
  }
  
  .index .group-23 {
    height: 36px;
    left: 428px;
    position: absolute;
    top: 0;
    width: 354px;
  }
  
  .index .frame-7 {
    align-items: center;
    display: inline-flex;
    gap: 24px;
    justify-content: center;
    left: 279px;
    position: absolute;
    top: 0;
  }
  
  .index .line-12 {
    height: 1px;
    object-fit: cover;
    position: relative;
    width: 64px;
  }
  
  .index .text-wrapper-32 {
    color: var(--primaryblack);
    font-family: var(--web-title-h3-font-family);
    font-size: var(--web-title-h3-font-size);
    font-style: var(--web-title-h3-font-style);
    font-weight: var(--web-title-h3-font-weight);
    letter-spacing: var(--web-title-h3-letter-spacing);
    line-height: var(--web-title-h3-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .index .line-13 {
    height: 2px;
    left: 0;
    position: absolute;
    top: 122px;
    width: 1326px;
  }
  
  .index .overlap-group-wrapper {
    background-color: var(--primaryblue);
    height: 444px;
    left: 1053px;
    position: absolute;
    top: 6404px;
    width: 1920px;
  }
  
  .index .overlap-7 {
    height: 444px;
    left: 297px;
    position: relative;
    width: 1469px;
  }
  
  .index .overlap-8 {
    height: 444px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1469px;
  }
  
  .index .feeling-the-lag-of {
    color: var(--primarywhite);
    font-family: var(--web-title-h2-font-family);
    font-size: var(--web-title-h2-font-size);
    font-style: var(--web-title-h2-font-style);
    font-weight: var(--web-title-h2-font-weight);
    left: 0;
    letter-spacing: var(--web-title-h2-letter-spacing);
    line-height: var(--web-title-h2-line-height);
    position: absolute;
    top: 71px;
    width: 1066px;
  }
  
  .index .group-24 {
    height: 444px;
    left: 978px;
    position: absolute;
    top: 0;
    width: 491px;
  }
  
  .index .text-wrapper-33 {
    color: var(--secondarygrey-6);
    font-family: var(--web-body-b2-font-family);
    font-size: var(--web-body-b2-font-size);
    font-style: var(--web-body-b2-font-style);
    font-weight: var(--web-body-b2-font-weight);
    left: 0;
    letter-spacing: var(--web-body-b2-letter-spacing);
    line-height: var(--web-body-b2-line-height);
    position: absolute;
    top: 231px;
    white-space: nowrap;
  }
  
  .index .button-instance {
    left: 0 !important;
    position: absolute !important;
    top: 316px !important;
  }
  
  .index .text-wrapper-34 {
    color: var(--primarywhite);
    font-family: "Haffer SQ XH-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 1255px;
    letter-spacing: 0;
    line-height: 58px;
    position: absolute;
    top: 3325px;
    white-space: nowrap;
  }
  
  .index .frame-8 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 140px;
    left: 1215px;
    position: absolute;
    top: 1610px;
  }
  
  .index .frame-9 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 80px;
    position: relative;
  }
  
  .index .frame-10 {
    height: 124px;
    position: relative;
    width: 1596px;
  }
  
  .index .group-25 {
    height: 108px;
    left: 0;
    position: absolute;
    top: 0;
    width: 325px;
  }
  
  .index .text-wrapper-35 {
    color: var(--primaryblack);
    font-family: var(--web-body-b2-font-family);
    font-size: var(--web-body-b2-font-size);
    font-style: var(--web-body-b2-font-style);
    font-weight: var(--web-body-b2-font-weight);
    left: 0;
    letter-spacing: var(--web-body-b2-letter-spacing);
    line-height: var(--web-body-b2-line-height);
    position: absolute;
    top: 36px;
    width: 321px;
  }
  
  .index .text-wrapper-36 {
    color: var(--secondarygrey-3);
    font-family: var(--web-body-b4-font-family);
    font-size: var(--web-body-b4-font-size);
    font-style: var(--web-body-b4-font-style);
    font-weight: var(--web-body-b4-font-weight);
    left: 0;
    letter-spacing: var(--web-body-b4-letter-spacing);
    line-height: var(--web-body-b4-line-height);
    position: absolute;
    top: 0;
    width: 29px;
  }
  
  .index .line-14 {
    height: 86px;
    left: 373px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 1px;
  }
  
  .index .group-26 {
    height: 108px;
    left: 425px;
    position: absolute;
    top: 0;
    width: 325px;
  }
  
  .index .line-15 {
    height: 86px;
    left: 798px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 1px;
  }
  
  .index .group-27 {
    height: 108px;
    left: 850px;
    position: absolute;
    top: 0;
    width: 325px;
  }
  
  .index .line-16 {
    height: 86px;
    left: 1223px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 1px;
  }
  
  .index .group-28 {
    height: 108px;
    left: 1275px;
    position: absolute;
    top: 0;
    width: 325px;
  }
  
  .index .separator {
    height: 2px;
    position: relative;
    width: 60px;
  }
  
  .index .frame-11 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    position: relative;
  }
  
  .index .text-wrapper-37 {
    color: var(--primaryblack);
    font-family: var(--web-title-h4-font-family);
    font-size: var(--web-title-h4-font-size);
    font-style: var(--web-title-h4-font-style);
    font-weight: var(--web-title-h4-font-weight);
    letter-spacing: var(--web-title-h4-letter-spacing);
    line-height: var(--web-title-h4-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 1056px;
  }
  
  .index .group-29 {
    height: 754px;
    left: 1215px;
    position: absolute;
    top: 2206px;
    width: 2136px;
  }
  
  .index .line-17 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 753px;
    width: 1596px;
  }
  
  .index .group-30 {
    height: 654px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2136px;
  }
  
  .index .group-31 {
    height: 48px;
    left: 1460px;
    position: absolute;
    top: 606px;
    width: 137px;
  }
  
  .index .frame-wrapper {
    background-image: url(https://cdn.animaapp.com/projects/65cbae09ebe3d944fc1d2ca6/releases/65cbae90345a819824cfdb06/img/mask-group-2.png);
    background-size: 100% 100%;
    height: 654px;
    left: 0;
    position: absolute;
    top: 0;
    width: 516px;
  }
  
  .index .frame-12 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    left: 40px;
    position: relative;
    top: 314px;
  }
  
  .index .heading {
    height: 100px;
    margin-right: -4px;
    position: relative;
    width: 440px;
  }
  
  .index .text-wrapper-38 {
    color: var(--secondarygrey-6);
    font-family: var(--web-body-b4-font-family);
    font-size: var(--web-body-b4-font-size);
    font-style: var(--web-body-b4-font-style);
    font-weight: var(--web-body-b4-font-weight);
    left: 0;
    letter-spacing: var(--web-body-b4-letter-spacing);
    line-height: var(--web-body-b4-line-height);
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .index .text-wrapper-39 {
    color: var(--primarywhite);
    font-family: var(--web-title-h5-font-family);
    font-size: var(--web-title-h5-font-size);
    font-style: var(--web-title-h5-font-style);
    font-weight: var(--web-title-h5-font-weight);
    left: 0;
    letter-spacing: var(--web-title-h5-letter-spacing);
    line-height: var(--web-title-h5-line-height);
    position: absolute;
    top: 28px;
    width: 436px;
  }
  
  .index .bullet-points {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-end;
    position: relative;
  }
  
  .index .group-32 {
    height: 32px;
    margin-right: -2px;
    position: relative;
    width: 438px;
  }
  
  .index .text-wrapper-40 {
    color: var(--secondarygrey-6);
    font-family: var(--web-body-b3-font-family);
    font-size: var(--web-body-b3-font-size);
    font-style: var(--web-body-b3-font-style);
    font-weight: var(--web-body-b3-font-weight);
    left: 26px;
    letter-spacing: var(--web-body-b3-letter-spacing);
    line-height: var(--web-body-b3-line-height);
    position: absolute;
    top: 0;
    width: 410px;
  }
  
  .index .ellipse-6 {
    background-color: var(--secondarygrey-6);
    border-radius: 5px;
    height: 10px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 10px;
  }
  
  .index .heading-wrapper {
    background-image: url(https://cdn.animaapp.com/projects/65cbae09ebe3d944fc1d2ca6/releases/65cbae90345a819824cfdb06/img/mask-group-3.png);
    background-size: 100% 100%;
    height: 516px;
    left: 540px;
    position: absolute;
    top: 0;
    width: 516px;
  }
  
  .index .heading-2 {
    height: 100px;
    left: 40px;
    position: relative;
    top: 376px;
    width: 440px;
  }
  
  .index .group-33 {
    background-image: url(https://cdn.animaapp.com/projects/65cbae09ebe3d944fc1d2ca6/releases/65cbae90345a819824cfdb06/img/mask-group-5.png);
    background-size: 100% 100%;
    height: 516px;
    left: 1080px;
    position: absolute;
    top: 0;
    width: 516px;
  }
  
  .index .group-34 {
    height: 516px;
    left: 1620px;
    position: absolute;
    top: 0;
    width: 516px;
  }
  
  .index .overlap-group-4 {
    height: 516px;
    position: relative;
    width: 480px;
  }
  
  .index .mask-group-2 {
    height: 516px;
    left: 0;
    position: absolute;
    top: 0;
    width: 138px;
  }
  
  .index .heading-3 {
    height: 100px;
    left: 40px;
    position: absolute;
    top: 376px;
    width: 440px;
  }
  
  .index .line-18 {
    height: 8638px;
    left: 2836px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1px;
  }
  
  .index .line-19 {
    height: 8638px;
    left: 1190px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1px;
  }
  
  .index .rectangle-3 {
    background-color: #000e8c;
    height: 132px;
    left: 2833px;
    position: absolute;
    top: 379px;
    width: 6px;
  }
  
  .index .rectangle-4 {
    background-color: #000e8c;
    height: 132px;
    left: 2833px;
    position: absolute;
    top: 4234px;
    width: 6px;
  }
  
  .index .rectangle-5 {
    background-color: #000e8c;
    height: 132px;
    left: 2833px;
    position: absolute;
    top: 8239px;
    width: 6px;
  }
  
  .index .rectangle-6 {
    background-color: #000e8c;
    height: 132px;
    left: 1187px;
    position: absolute;
    top: 2170px;
    width: 6px;
  }
  
  .index .rectangle-7 {
    background-color: #000e8c;
    height: 132px;
    left: 1187px;
    position: absolute;
    top: 5955px;
    width: 6px;
  }
  
  .index .desktop-header {
    background-color: var(--primaryblack);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--secondarygrey-3);
    height: 132px;
    left: 1052px;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .index .frame-13 {
    align-items: center;
    display: inline-flex;
    gap: 24px;
    left: 80px;
    position: absolute;
    top: 16px;
  }
  
  .index .MENU-wrapper {
    height: 48px;
    position: relative;
    width: 48px;
  }
  
  .index .MENU {
    height: 16px;
    left: 4px;
    position: relative;
    top: 16px;
    width: 40px;
  }
  
  .index .rectangle-8 {
    background-color: var(--primarywhite);
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }
  
  .index .rectangle-9 {
    background-color: var(--primarywhite);
    height: 4px;
    left: 21px;
    position: absolute;
    top: 13px;
    width: 15px;
  }
  
  .index .navigation-bar-LOGO {
    height: 100px !important;
    position: relative !important;
    width: 241.48px !important;
  }
  
  .index .navigation-bar-desktop {
    left: 570px !important;
    position: absolute !important;
    top: 38px !important;
  }
  
  .index .navigation-bar-instance {
    background-color: unset !important;
  }
  
  .index .navigation-bar-desktop-instance {
    background-color: #000000 !important;
  }
  
  .index .design-component-instance-node {
    left: 1695px !important;
    position: absolute !important;
    top: 38px !important;
  }
  
  .index .frame-14 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
    left: 1350px;
    position: absolute;
    top: 232px;
  }
  
  .index .text-wrapper-41 {
    color: var(--primarywhite);
    font-family: var(--web-title-h1-font-family);
    font-size: var(--web-title-h1-font-size);
    font-style: var(--web-title-h1-font-style);
    font-weight: var(--web-title-h1-font-weight);
    letter-spacing: var(--web-title-h1-letter-spacing);
    line-height: var(--web-title-h1-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 1326px;
  }
  
  .index .add-consistency-to {
    color: var(--secondarygrey-5);
    font-family: var(--web-body-b2-font-family);
    font-size: var(--web-body-b2-font-size);
    font-style: var(--web-body-b2-font-style);
    font-weight: var(--web-body-b2-font-weight);
    letter-spacing: var(--web-body-b2-letter-spacing);
    line-height: var(--web-body-b2-line-height);
    position: relative;
    text-align: center;
    width: 1056px;
  }
  
  .index .text-wrapper-42 {
    color: var(--primarywhite);
    font-family: var(--web-title-h1-font-family);
    font-size: var(--web-title-h1-font-size);
    font-style: var(--web-title-h1-font-style);
    font-weight: var(--web-title-h1-font-weight);
    left: 1350px;
    letter-spacing: var(--web-title-h1-letter-spacing);
    line-height: var(--web-title-h1-line-height);
    position: absolute;
    text-align: center;
    top: 5431px;
    width: 1326px;
  }
  
  .index .frame-15 {
    align-items: center;
    display: inline-flex;
    gap: 135px;
    left: 1350px;
    position: absolute;
    top: 7048px;
  }
  
  .index .frame-16 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 48px;
    position: relative;
  }
  
  .index .frame-17 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
  }
  
  .index .group-35 {
    height: 100px;
    margin-right: -4px;
    position: relative;
    width: 655px;
  }
  
  .index .text-wrapper-43 {
    color: var(--primarywhite);
    font-family: var(--web-title-h3-font-family);
    font-size: var(--web-title-h3-font-size);
    font-style: var(--web-title-h3-font-style);
    font-weight: var(--web-title-h3-font-weight);
    left: 0;
    letter-spacing: var(--web-title-h3-letter-spacing);
    line-height: var(--web-title-h3-line-height);
    position: absolute;
    top: 40px;
    width: 651px;
  }
  
  .index .text-wrapper-44 {
    color: var(--secondarygrey-5);
    font-family: var(--web-body-b2-font-family);
    font-size: var(--web-body-b2-font-size);
    font-style: var(--web-body-b2-font-style);
    font-weight: var(--web-body-b2-font-weight);
    left: 0;
    letter-spacing: var(--web-body-b2-letter-spacing);
    line-height: var(--web-body-b2-line-height);
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .index .design-stickiness {
    color: var(--secondarygrey-5);
    font-family: var(--web-body-b2-font-family);
    font-size: var(--web-body-b2-font-size);
    font-style: var(--web-body-b2-font-style);
    font-weight: var(--web-body-b2-font-weight);
    letter-spacing: var(--web-body-b2-letter-spacing);
    line-height: var(--web-body-b2-line-height);
    position: relative;
    width: 651px;
  }
  
  .index .service-thumbnail {
    height: 730px;
    position: relative;
    width: 540px;
  }
  
  .index .overlap-group-5 {
    height: 730px;
    position: relative;
  }
  
  .index .background {
    background-color: var(--secondarygrey-0);
    height: 700px;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 510px;
  }
  
  .index .illustartion {
    height: 700px;
    left: 0;
    position: absolute;
    top: 0;
    width: 510px;
  }
  